# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environments
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temporary Scripts
fix_*.py
upgrade_*.py
implement_*.py
test_*.py
bookings_output.txt
